* {
  font-family: Garamond;
}

.socials{
  position: fixed;
  bottom: 0px;
  left: 43%;
}

nav {
  height: 10%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(36, 169, 221);
  background-image: linear-gradient(to bottom right, red, yellow);
  overflow-x: hidden;
  padding-top:7px;
  width: 100%;
}

ul li{
  padding: 10px 70px 0px 70px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}

a:link, a:visited{
  color: #ffffff;
  text-decoration: none;
}

a:hover, a:active{
  color: #1036df;
  text-decoration: underline;
}

a:hover{
  transform: scale(1.25);
}

a.current{
  text-decoration: underline;
}

.content{
  text-align: center;
  position: relative;
  color: #000000;
  font-size: 40px;
  margin: 5px;
}

.profile_pic{
  border-radius: 20%;
  width: 350px;
  height: 480px;
  margin: 20px;
}

.content_about, .content_edu, .content_exp, .content_skills, .content_int{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  top: 100px;
  color: #000000;
  font-size: 20px;
  margin: 5px;
}

.about_writer, .interest_writer{
  padding-top: 40px;
  font-size: 45px;
  text-align: center;
}